@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

.bigger {
    font-size: 2.5em;
}

.btn-padded {
    margin-left: 4px;
    margin-right: 4px;
}
